<div class="container" id="main">
    <div class="row" style="padding-bottom:10px;">
        <div class="col-md-5 col-sm-5">
            <label for="sel1">Select Batch:</label>
            <select class="input-group form-control" id="sel1">
                <option>--Select Batch--</option>
                <option>Batch 1</option>
                <option>Batch 2</option>
                <option>Batch 3</option>
                <option>Batch 4</option>
            </select>
        </div>
        <div class="col-md-7 col-sm-7">
            <label for="comment" >Comment:</label>
            <input type="text" class="form-control" id="comment" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-md-8">
                        <h4>Drop files below</h4>
                    </div>
                    <input type="button" value="Submit" class="btn btn-lg btn-info" onclick="uploadFiles()" />
                </div>
                <div class="panel-body">
                    <div id="ulbox">
                        <span>Drop files here...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-sm-7">
                <div class="panel panel-default" id="pnlFile">
                    <div class="panel-heading">
                        <h4>File Attributes</h4>
                    </div>
                    <div class="panel-body">
                        <table id="tblFiles">
                            <thead>
                                <tr>
                                    <th>File Name</th>
                                    <th>Date Created</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: Ufiles">
                                <tr>
                                    <td><span data-bind="text: name" /></td>
                                    <td><span data-bind="text: created" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div><!--/row-->
    <div id="divTest" style="display:none;">
        <p>First name: <strong data-bind="text: ko.toJSON($data)">todo</strong></p>
        <p>Last name: <strong data-bind="text: lastName">todo</strong></p>
    </div>

    <div class="clearfix"></div>

    <hr>

</div><!--/main-->
